In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.shape

(891, 12)

In [4]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
data['Age'] = data['Age'].fillna(data['Age'].median())

In [6]:
cols=['SibSp','Parch','Fare','Age']

In [7]:
for col in cols:
  data[col].fillna(data[col].median,inplace=True)

In [8]:
data['Embarked'].fillna("U",inplace=True)

In [9]:
data=data.drop(["PassengerId","Pclass","Name","Cabin","Ticket"],axis=1)

In [10]:
data.isnull().sum()

Survived    0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [11]:
data.head()

   Survived     Sex   Age  SibSp  Parch     Fare Embarked
0         0    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         1  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         0    male  35.0      0      0   8.0500        S

In [12]:
data['Sex']=data['Sex'].map({'male':1,'female':0})

In [13]:
data['Embarked']=data['Embarked'].map({'S':0,'C':1,'Q':2,'U':3})

In [14]:
data.head()

   Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0         0    1  22.0      1      0   7.2500         0
1         1    0  38.0      1      0  71.2833         1
2         1    0  26.0      0      0   7.9250         0
3         1    0  35.0      1      0  53.1000         0
4         0    1  35.0      0      0   8.0500         0

In [15]:
X=data[['Sex','Age','SibSp','Parch','Fare','Embarked']]

In [16]:
X.head()

   Sex   Age  SibSp  Parch     Fare  Embarked
0    1  22.0      1      0   7.2500         0
1    0  38.0      1      0  71.2833         1
2    0  26.0      0      0   7.9250         0
3    0  35.0      1      0  53.1000         0
4    1  35.0      0      0   8.0500         0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [18]:
y=data['Survived']

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=0)

In [21]:
from sklearn.neighbors import KNeighborsClassifier

knn_model= KNeighborsClassifier(n_neighbors=4)
knn_model.fit(X_train,y_train)

y_pred=knn_model.predict(X_test)

In [22]:
pd.DataFrame({'Y_Test':y_test, 'Y_Pred': y_pred})

     Y_Test  Y_Pred
495       0       0
648       0       0
278       0       0
31        1       0
255       1       0
..      ...     ...
167       0       0
306       1       1
379       0       0
742       1       0
10        1       1

[223 rows x 2 columns]

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7354260089686099