In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [ ]:
data=pd.read_csv('train.csv')

In [ ]:
data.shape

(891, 12)

In [ ]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
data['Age'] = data['Age'].fillna(0).astype(int)
#data['Age'].fillna(df['Age'].mean(), inplace=True)

In [ ]:
cols=['SibSp','Parch','Fare','Age']

In [ ]:
for col in cols:
  data[col].fillna(data[col].median,inplace=True)

In [ ]:
data['Embarked'].fillna("U",inplace=True)

In [ ]:
data=data.drop(["PassengerId","Pclass","Name","Cabin","Ticket"],axis=1)

In [ ]:
data.isnull().sum()

Survived    0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [ ]:
data.head()

   Survived     Sex  Age  SibSp  Parch     Fare Embarked
0         0    male   22      1      0   7.2500        S
1         1  female   38      1      0  71.2833        C
2         1  female   26      0      0   7.9250        S
3         1  female   35      1      0  53.1000        S
4         0    male   35      0      0   8.0500        S

In [ ]:
data['Sex']=data['Sex'].map({'male':1,'female':0})

In [ ]:
data['Embarked']=data['Embarked'].map({'S':0,'C':1,'Q':2,'U':3})

In [ ]:
data.head()

   Survived  Sex  Age  SibSp  Parch     Fare  Embarked
0         0    1   22      1      0   7.2500         0
1         1    0   38      1      0  71.2833         1
2         1    0   26      0      0   7.9250         0
3         1    0   35      1      0  53.1000         0
4         0    1   35      0      0   8.0500         0

In [ ]:
X=data[['Sex','Age','SibSp','Parch','Fare','Embarked']]

In [ ]:
X.head()

   Sex  Age  SibSp  Parch     Fare  Embarked
0    1   22      1      0   7.2500         0
1    0   38      1      0  71.2833         1
2    0   26      0      0   7.9250         0
3    0   35      1      0  53.1000         0
4    1   35      0      0   8.0500         0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    int64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [ ]:
y=data['Survived']

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=0)

In [ ]:
# Data Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['Age', 'Fare', 'FamilySize']] = scaler.fit_transform(df[['Age', 'Fare', 'FamilySize']])

In [ ]:
# Feature Engineering
# Create a new feature 'FamilySize' by combining 'SibSp' and 'Parch'
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [ ]:
#Over Sampling

from imblearn.over_sampling import SMOTE

# Assuming you have loaded the dataset into a Pandas DataFrame called 'df'

# Separate features (X) and the target variable (y)
X = df.drop('target', axis=1)
y = df['target']

# Instantiate the SMOTE class
smote = SMOTE(random_state=42)

# Perform oversampling on the dataset
X_balanced, y_balanced = smote.fit_resample(X, y)

# X_balanced and y_balanced now contain the balanced dataset

In [ ]:
#undersample

# Combine the training features and target variable into one DataFrame
train_data = pd.concat([X_train, y_train], axis=1)

# Separate the majority class and minority class instances
majority_class = train_data[train_data['target'] == 0]
minority_class = train_data[train_data['target'] == 1]

# Randomly sample the majority class instances to match the number of minority class instances
undersampled_majority = majority_class.sample(n=len(minority_class), random_state=42)

# Combine the undersampled majority class with the minority class instances
undersampled_data = pd.concat([undersampled_majority, minority_class])

# Shuffle the undersampled data
undersampled_data = undersampled_data.sample(frac=1, random_state=42)